.pageDaccueil{
    width: 100px;
    height: 100px;
}

#img{
    width: 200px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}

#img:hover{
    transform: scale(2);
    transition: transform .6s;
}

